/* FONTS */ 
@font-face
{
    font-family: 'sf-ui_black';
    src: url('../fonts/sf_ui/sf-ui_black.eot');
    src: url('../fonts/sf_ui/sf-ui_black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_black.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_black.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'sf-ui_bold';
    src: url('../fonts/sf_ui/sf-ui_bold.eot');
    src: url('../fonts/sf_ui/sf-ui_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_bold.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_bold.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'sf-ui_heavy';
    src: url('../fonts/sf_ui/sf-ui_heavy.eot');
    src: url('../fonts/sf_ui/sf-ui_heavy.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_heavy.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_heavy.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'sf-ui_light';
    src: url('../fonts/sf_ui/sf-ui_light.eot');
    src: url('../fonts/sf_ui/sf-ui_light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_light.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_light.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'sf-ui_medium';
    src: url('../fonts/sf_ui/sf-ui_medium.eot');
    src: url('../fonts/sf_ui/sf-ui_medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_medium.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_medium.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'sf-ui_regular';
    src: url('../fonts/sf_ui/sf-ui_regular.eot');
    src: url('../fonts/sf_ui/sf-ui_regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_regular.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_regular.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'sf-ui_semibold';
    src: url('../fonts/sf_ui/sf-ui_semibold.eot');
    src: url('../fonts/sf_ui/sf-ui_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_semibold.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_semibold.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'sf-ui_thin';
    src: url('../fonts/sf_ui/sf-ui_thin.eot');
    src: url('../fonts/sf_ui/sf-ui_thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_thin.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_thin.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'sf-ui_ultralight';
    src: url('../fonts/sf_ui/sf-ui_ultralight.eot');
    src: url('../fonts/sf_ui/sf-ui_ultralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sf_ui/sf-ui_ultralight.woff2') format('woff2'),
         url('../fonts/sf_ui/sf-ui_ultralight.woff') format('woff'),
         url('../fonts/sf_ui/sf-ui_ultralight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* FIX VIEWPORT */
@viewport
{ 
  zoom: 1.0; 
  width: extend-to-zoom;
}
@-ms-viewport
{ 
  width: extend-to-zoom; zoom: 1.0;
}

// GENERAL BREAKPOINTS
$xxs: "(max-width: 340px)";
$xs: "(max-width: 767px)";
$sm: "(max-width: 991px)";
$md: "(max-width: 1199px)";
$lg: "(min-width: 1200px)";

// CUSTOM BREAKPOINTS
$xxs_absolute: "(min-width: 0px) and (max-width: 339px)";
$xs_absolute: "(min-width: 340px) and (max-width: 767px)";
$sm_absolute: "(min-width: 768px) and (max-width: 991px)";
$md_absolute: "(min-width: 992px) and (max-width: 1199px)";
$lg_absolute: "(min-width: 1200px)";

// COLORES
$black: #000000;
$gray: #666666;
$middle_gray: #8A8A8F;
$soft_gray: #EFEFF4;
$dark_white: #C8C7CC;
$white: #F9F9F9;
$blue: #007AFF;
$skyblue: #5AC8FA;

// AUX MIXINGS
@mixin zero 
{
  padding: 0;
  margin: 0;
}

@mixin animate
{
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
}

@mixin flex_row
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin flex_column
{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/* SCROLLBARS */
::-webkit-scrollbar 
{
  width: 5px;
  @include animate;
}

::-webkit-scrollbar-track 
{
  background: $white;
  @include animate;
}

.scrollable-content::-webkit-scrollbar * 
{
  background: $white;
}

::-webkit-scrollbar-thumb 
{
  background: $blue;
  @include animate;
}

button, input, select, textarea, label, option, figure, ul, li, p, h1, h2, h3, h4, h5, h6, span, a
{ 
  box-shadow: none;
  outline: none;
  border-radius: 0;
  border: none;
  @include zero;
  text: 
  {
    decoration: inherit;
    decoration: none;
    shadow: none;
    indent: none;
  }
  font:
  {
    family: inherit;
    size: inherit;
  }
  color: inherit;
  list-style-type: none;
  &:hover, &:active, &:visited, &:focus
  {
    outline: none;
    border: none;
    box-shadow: none;
    border-box: none;
  }
}

/* AVOID MARGINS ON BOOTSTRAP */
.no_margin > [class*='col-'] 
{
  padding-right: 0;
  padding-left: 0;
}

/* GENERAL STYLES */
.slb-main_nav
{
	@media #{$sm}
	{
		@include flex_column;
		justify-content: center;
		background-color: red;
	}
}




